@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
body{
    background-image: url(background.svg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alkatra', cursive;}
:root{--main-color:#4651E5;}
::-webkit-scrollbar{width: 0;}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;}
.box{
    background-color: white;
    width: 400px;
    height: 450px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;}
.box-one{border: solid 2px var(--main-color);}
.box img{
    width: 100%;
    transform: scale(.9);
    height: 50%;}
.box .info{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;}
.box-one .info{background-color: var(--main-color);}
.box .info .text{
    text-align: center;
    line-height: 10px;}
.box-one .info .text{
    color: white;}
.box .buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;}
.box .buttons button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;}
.box-one .buttons button:first-child{
    background-color: white;
    color: black;}
.box-two .buttons button:first-child{background-color: var(--main-color);}
@media (max-width:768px) {
    body{
        background-image: url(split-background.svg);
        height: 140vh;}
    .container{
        flex-direction: column;
        gap: 40px;
        height: 140vh;}
    .box{max-width: 90%;}
    .box-two{border: solid 2px var(--main-color);}
}
